{
  "canonicalHost": "meet.zaur.app",
  "proxyURL": "https://meet.zaur.app/",
  "writableGroups": true,
  "users": {
    "admin": {
      "password": "change-me",
      "permissions": "admin"
    }
  }
}
